* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins';
    background-color: #242635;
}

.blue-text {
    color: #34b0be;
}
.white-text {
    color: white;
}

/* layout */
.container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
}

.header {
    /* min-height: 100vh; */
    background-color: #242635;;
}
nav {
    background-color: white;
}

nav a, .icon-menu {
    color: #242635;
    padding: 5px 10px;
    display: inline-block;
}

.icon-menu {
    color: white;
}

.text-right {
    text-align: right;
}

nav {
    max-height: 100vh;
    transition: max-height 1s;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}



/*contenedor 2*/

.acerca-de-mi{
    text-align: center;
    margin: 50px;
}

.acerca-de-mi h2{
    margin-bottom: 25px;
}

/* container-3*/

.container-3 h2{
    text-align: center;
    margin: 20px;
}

.servicios{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(100% / 12 * 4)
}

.box-1{
    margin: auto;
    margin-top: 15px;
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    border-radius: 10%;
}

.box-1 h2{
    margin: 10px;
}

.box-1 p{
    color: grey;
}

.icon{
    display: inline-block;
    margin-top: 50px;

}
/*container 4*/

.container-4{
    text-align: center;
}

.container-4 h2{
    margin: 10px 0;
}




/*container 5*/

.container-5 h2{
    text-align: center;
    padding-bottom: 25px;
}

.container-5{
    width: 80%;
    margin: 60px auto;
    overflow-x: hidden;
}

.grid-wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
}

.grid-box .highlight {
    color: var(--dark-purple);
    font-weight: bold;
}
.grid-box {
    padding: 30px 0;
    margin: auto;
    
}

.portfolio {
    margin-top: 150px;
    position: relative;
}

.portfolio .grid-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 20px;
}

.portfolio .grid-box{
    position: relative;
}


.portfolio .grid-box:hover .hover {
    transform: scaleX(1);
}

/*etfrqeftq*/

/* container 6 */

.container-6 h2{
    text-align: center;
}

@media(min-width: 768px) {
    .row {
        display: flex;
    }
    .col-md-6 {
        width: 50%;
        padding: 10px;
    }
    .card-pading-top{
        margin-top: 0px;
    }

    .grid-wrapper {
        grid-template-columns:repeat(auto-fit, minmax(300px, auto));
       }
    .grid-box {
        padding: 10px 0;
    }
    
    
}


/* Desktop */
@media(min-width: 992px) {
    .lg-hidden {
        display: none;
    }
    #main-menu {
        max-height: none;
    }
    nav {
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
    }
    nav a {
        color: white;
    }
    nav li {
        display: inline-block;
    }
    
}