* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {	
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.main{
   
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-fondo);
}

:root {
    --color-fondo: #242635;
    --color-title: #34B0BE;
    --color-font: #fff;
    --color-text: #D1CECA;
}

.blue-text {
    color: #34b0be;
}
.white-text {
    color: white;
}


/* layout */
.container {
    width: 90%;
    max-width: 1080px;
    margin: auto;
}

.col-6{
    width: 50%;
}

.header {
    /* min-height: 100vh; */
    background-color: #242635;;
}
nav {
    background-color: white;
}

nav a, .icon-menu {
    color: #242635;
    padding: 5px 10px;
    display: inline-block;
}

.icon-menu {
    color: white;
}

.text-right {
    text-align: right;
}

nav {
    max-height: 100vh;
    transition: max-height 1s;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}

/* container-1*/



.home {
    margin-top: 2rem;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.row {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 30vh;
    background: rgb(209 206 202 / 25%);
    border-radius: 50%;
    left: calc(50% - 15vh);

}
.home__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.home__container2{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.col-sm-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
}

.intro {
    color: var(--color-font);
    font-size: 2rem;
}

.title {
    color: var(--color-title);
    font-size: 4rem;
}

.home__bar-sm {
    background: var(--color-font);
    height: .2rem;
    width: 100%;
    padding-right: 2rem;
}

.title__text {
    color: var(--color-font);
    font-size: 2.5rem;
    font-weight: 500;
}



.home__experience {
    position: static;
    top: 0;
}

.home__red {
    display: flex;
    align-items: center;
}

.home__icon {
    background: var(--color-text);
    display: inline-block;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #242635;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-decoration: none;
}



.home__sites {
    position: relative;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    background: #4f505b;
    padding: 1.5rem .2rem;
    margin: 6.1rem auto;
    margin-bottom: 0;
}


.home__sites__icon {
    background: var(--color-text);
    display: inline-block;
    border-radius: 1rem;
    height: 3rem;
    width: 66px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #242635;
    font-size: 2rem;
}


/*contenedor 2*/


.container-2{
    margin-bottom: 30px;
}

.acerca-de-mi{
    text-align: center;
    margin: 50px;
}

.acerca-de-mi h2{
    margin: 40px;
    margin-top: 0%;
}

/* container-3*/

.title-conteiner-3{
    margin: 2rem;
}

.container-3 h2{
    text-align: center;
    margin: 40px;
}

.servicios{
    
    display: flex;
    overflow-x: auto;
}



.box-1{
   
    background-color: #ffffff; 
    border-radius: 3%;
    /**/
    min-width: 220px;
    height: 300px;
    
    text-align: center;
    margin: 0 10px;
}

.box-1 h2{
    margin: 10px;
}

.box-1 p{
    margin: 15px;
    color: grey;
    margin-top: 0;
}

.icon{
    display: inline-block;
    margin-top: 30px;

}



/*container 4*/



.container-4 h2{
    margin: 40px;
}

.habilidades {
    margin: 10px;
}

.habilidades-JavaScript{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.progress{
    
    height: 15px;
    width: 95%;
    background-color: azure;
    border-radius: 20px;

    
}

.progress-done-1{
    height: 100%;
    width: 90%;
    background-color: #34b0be;
    border-radius: 20px;
}

.progress-done-2{
    height: 100%;
    width: 80%;
    background-color: #34b0be;
    border-radius: 20px;
}

.habilidades h3{
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 5px;
    
}

.habilidades p{
    display: inline-block;
    margin-left: 10px;
}

.container-4 h2{
    text-align: center;
}




/*container 5*/

.portafolio h2{
    text-align: center;
    margin: 40px;
}





.portafolio-container div{
    min-width: 300px;
    height: 300px;
    line-height: 10px;
    text-align: center;
    margin: 0 20px;
}


/* container 6 */

.container-6 h2{
    text-align: center;
    margin: 40px;
}

.container-6-box{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
    
}


.contacto-box{  
    width: 150px;
    height: 150px;
    background-color: #ffffffff;
    margin: 15px;
    margin-right: 8%;
    text-align: center;
    border-radius: 3%;
}


.contacto-box img{
    margin: 1rem;
}

.contacto-box h3{
    margin: 10px 0;
}

.container-6-box2{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}

.contacto-box-2{
    width: 150px;
    height: 150px;
    background-color: #ffffffff;
    margin: 15px 0;
    margin-left: 24%;
    text-align: center;
    border-radius: 3%;
}



.contacto-box-2 img{
    margin: 1rem;
}

.contacto-box-2 h3{
    margin: 10px 0;
}

/*footer*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #4f505b;
}

@media (min-width: 576px){

    .main{
        margin: 0 10%;
    }




    .home__sites{
        padding: 2rem .2rem;
        margin: 6rem auto;
    }
}

@media(min-width: 768px){


    .main{
        margin: 0 20%;
    }

    



    .home__sites {
        margin: 12.4rem auto;
        width: 80%;
        height: 7rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    
}


/* Desktop */
@media(min-width: 992px) {

    .main{
        margin: 0 25%;
    }

    .lg-hidden {
        display: none;
    }
    #main-menu {
        max-height: none;
    }
    nav {
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
    }
    nav a {
        color: white;
    }
    nav li {
        display: inline-block;
    }

    .circle{
        width: 50vh;
        height: 50vh;
        left: calc(50% - 25vh);
    }

    .container-3 div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-1{
        margin: 10px;
        width: 220px;
    }

    .servicios {
        min-height: 300px;
        display: flex;
    }

    .container-5 div{
        flex-wrap: wrap;
        
    }

    .portafolio-container{
    
        display: flex;
        overflow-x: none;
        justify-content: center;

    }

    .portafolio-container div {
        margin: 10px;
    }


    
}

h2 {
    font-size: 2rem;
}